librosa==0.8.1
catalyst==21.10
jupyterlab==3.2.3
nnAudio==0.3.0
numpy==1.20.3
pandas==1.2.4
scikit-learn==0.23.2
segmentation-models-pytorch==0.2.1
SoundFile==0.10.2
spectralcluster==0.2.4
SpeechRecognition==3.8.1
timm==0.4.12
torch==1.9.1
torchaudio==0.10.0
torchvision==0.10.1
tqdm==4.62.3
matplotlib==3.4.3
matplotlib-inline==0.1.2
seaborn==0.11.2
resemblyzer==0.1.1.dev0